
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}
html,body { 
	height:100%;
	margin: 0px;
	padding: 0px;

}
body {
	background-image: url('img/tweed.png');
	font-family: 'Yanone Kaffeesatz';
	overflow: hidden;
	color: white;
	
}
.pipe {
	width: 200px;
	height: 20px;
	position: absolute;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	/* border-top: 2px solid rgba(255,255,255,0.5); */
	/* border-bottom: 2px solid rgba(255,255,255,0.5); */
	/* border-left: 5px solid rgba(255,255,255,0.5); */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	background-image: url("img/arrow.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.ball {
	width: 20px;
	height: 20px;
	border-radius: 50px;
	position: absolute;
	background-color: white;
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
	
}
.tr {
	-webkit-transition: background-color .2s ease;
	-moz-transition: background-color .2s ease;
	transition: background-color .2s ease;
	
}
.ball.inHole {
	background-color: #aaa !important;
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6);
	
}
.hole {
	border-radius: 50%;
	position: absolute;
	background-color: #bbb;
	box-shadow: 6px 6px 1px 0px rgba(0,0,0,0.6) inset;
	border: 2px solid #999;
	
}
section {
	width: 5px;
	height: 5px;
	position: absolute;
	
}
#centerpoint {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 3px;
	height: 3px;
	background-color: rgba(255,255,255,0.2);
	
}
#messageWrap {
	width: 100%;
	height: 100%;
	display: table;
	background-color: rgba(0,0,0,0.3);
	z-index: 1;
	position: absolute;
	
}
#message {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	
}
#message p {
	font-size: 2em;
	
}
#message h1 {
	color: white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0px;
	font-size: 19vw;
	cursor: pointer;
	
}
.show {
	-webkit-animation:  x 1s;
	animation:  x 1s;
	-webkit-animation-fill-mode: both;
	
}
#stats {
	position: absolute;
	right: 20px;
	bottom: 20px;
	font-size: 2em;
	
}
#stats > div {
	text-align: right;
	
}
.debug {
	position: absolute;
	z-index: 9999;
	color: white;
	width: 100%;
	height: 4rem;
	border: 1px solid;
	display: none;
	
}
.playarea {
	position: relative;
	
}
.mobile_ui {
	height: 8rem;
	position: relative;
	display: none;
	
}
.rot {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 50%;
	height: 4rem;
	top: 0rem;
	background-color: white;
	
}
.rot svg {
	width: 1rem;
	height: auto;
	
}
.rot_minus {
	z-index: 99999;
	left: 0rem;
	border-right: 2px solid #49633c;
}
.rot_plus {
	z-index: 9999;
	left: 50%;
	
}
.newball {
	position: absolute;
	top: 4rem;
	z-index: 999;
	background-color: white;
	width: 100%;
	left: 0rem;
	height: 4rem;
	border-top: 2px solid #49633c;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.newball span {
	color: #49633c;
	pointer-events: none;
	
}
.touch_device .mobile_ui {
	display: block;
	
}
@media screen and (min-width: 1000px){
	#message h1 {
		font-size: 12em;
	}
	
}


@-webkit-keyframes x {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		transform: translateY(-30px);
		
	}
	20% {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);
		
	}
	80% {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);
		
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(30px);
		-ms-transform: translateY(30px);
		transform: translateY(30px);
		
	}
	
}

